.btn-gray {
   background-color: #2C2C2C;
   padding: 1.6rem 2.4rem;
   border-radius: .8rem;
   color: white;
}

.btn-orange {
   background-color: #FF5200;
   color: #fff;
   font-family: 'Satoshi-Medium';
   padding: 1.6rem 2.4rem;
   border-radius: .8rem;
}
.pd_RL {
   padding: 0rem 6.4rem;
}